{% extends 'base.html.twig' %}

{% block title %}Liste des pizza{% endblock %}

{% block body %}

    <h1> Liste des pizza</h1>

    <nav>
        <a href="{{ path('app_pizza_create')}}"> Ajouter un livre </a>
    </nav>

    {% for pizza in pizzas %}
        <div>
            {% if pizza.imageUrl %}
                <img src="{{ pizza.imageUrl }}" alt="{{ pizza.name }}"/>
            {% endif %}
            <p> {{ pizza.name }} </p>
            <p> {{pizza.price }} $ </p>
            <p>
                <a href="{{ path('app_basket_add', {id: pizza.id }) }}">Ajouter au panier</a>
            </p>
    {% endfor %}

{% endblock %}